
<div class="row">
    <h1 class="text-center">New Waste</h1>
    <div class="col-6 offset-3">
        <form action="/add" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="t itle" name="waste[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="tips">Tips</label>
                <input class="form-control" type="text" id="tips" name="waste[tips]"required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
          
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
    
    </div>
</div>

